<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.title}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap" rel="stylesheet">
        <style>
            html, body {
                margin: 0;
                margin-top: 50px;
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
                font-weight: 300;
            }
            h1 {
                font-weight: 700;
                font-size: 25px;
                margin-bottom: 20px;
            }
            .container {
                padding: 10px;
                max-width: 600px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="text-bold">{{.title}}</h1>
            <p>API Alkitab Indonesia adalah sebuah <i>third-party backend</i> Alkitab yang sumber bacaannya berasal dari <a href="sabda.org">sabda.org</a>.</p>
                
            <p><a href="sabda.org">Sabda.org</a> adalah sebuah Yayasan Kristen non-profit, non-komersial yang bergerak dalam bidang pelayanan media komputer dan internet di Indonesia.</p>

            <p>Ini adalah proyek <i>open-source</i> siapa saja dapat membantu pengembangan dari API ini. Silahkan berkontribusi dalam pengembangan API ini dengan </i>fork<i>. dan buat </i>issue<i> baru dan </i>pull-request</i> untuk issue tersebut.</p>

            <p>Source code dari API ini ditulis dengan bahasa pemrograman Go dan tersedia di Github <a href="https://github.com/erwindosianipar/api-alkitab">https://github.com/erwindosianipar/api-alkitab</a>.</p>

            <p>Baca <a href="https://github.com/erwindosianipar/api-alkitab">dokumentasi</a> untuk cara penggunaan.</p>
            <hr/>
            <p>Kemuliaan bagi Tuhan saja - Soli Deo Gloria</p>
        </div>
    </body>
</html>
